[submodule "Library/sx126x_driver"]
	path = Library/sx126x_driver
	url = https://github.com/Lora-net/sx126x_driver
[submodule "Library/llcc68_driver"]
	path = Library/llcc68_driver
	url = https://github.com/Lora-net/llcc68_driver
[submodule "at32f403a-407-docs"]
	path = at32f403a-407-docs
	url = https://github.com/xyphrodite/at32f403a-407-docs.git
[submodule "Library/externals/CANopenNode"]
	path = Library/externals/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
[submodule "at32f435-437-docs"]
	path = at32f435-437-docs
	url = https://github.com/XYphrodite/at32f435-437-docs.git
